.wrapper{
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 137px;
}

.logo {
  position: relative;
  font: bold 24px/32px pt_serifregular, arial, helvetica, sans-serif;
  padding: 10px 0;
}

.logo__text {
  padding-left: 44px;
}

.logo__circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.main {
  padding: 0 63% 210px 0;
  background: 99.4% 0% no-repeat url(image/image.svg);
  background-size: 50% auto;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__title {
  font: bold 72px/89px pt_serifregular, arial, helvetica, sans-serif;
  margin: 0 0 30px 0;
  padding: 68px 0 4px;
}

.main__subtitle {
  font: normal 22px/26px 'roboto', sans-serif;
  margin: 0 0 44px 0;
}

.main__button {
  display: inline-block;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 17px 27px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  font: 500 18px/21px 'roboto', sans-serif;
  padding: 0 0px;
  color: #000000;
  text-decoration: none;
  position: relative;
  margin-right: 27px;
  opacity: 1;
  }

.menu__item:last-child {
  padding-right: 0;
  margin-right: 0;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item::after{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity 0.5s;
}

.menu__item:hover::after, .menu__item_active::after{
  opacity: 1;
  width: 100%;
}

.circles{
  position: absolute;
  padding-top: 54px;
  padding-left: 39%
}
.circles__first, .circles__second, .circles__third{
  position: absolute;
  width: 8px;
  height: 8px;
  background: #C8D8FB;
  opacity: 0.7;
  border-radius: 50%;
 }

.circles__second{
  margin-left: 12px;
}

.circles__third{
  margin-left: 24px;
}
