body {
  border: dashed 1px red;
margin: 0;
}
.main-content__title{
  font-family: 'Roboto', sans-serif;
}
.wrapper{
  border: dashed 1px red;
margin: auto;
width: 80%;
}
.header {
  border: dashed 1px red;
  display: flex;
  justify-content: space-between;
  }
.logo, .menu {
  border: dashed 1px red;
  }
.logo {
  border: dashed 1px red;
  padding: 40px 0;
  }
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  border: dashed 1px red;
  padding: 0 13px;
  }
.menu__item:last-child {
  padding-right: 0;
}
